    <footer>

      <div class="footer-item">  

      <ul class="nobullet footer-item pad-bottom">
        <li>Frequently asked question? <a href="{{staticdata.links.canonical_stem}}{{staticdata.links.faq}}">FAQ</a></li>   
        <li>Contact details in <a href="{{staticdata.links.canonical_stem}}{{staticdata.links.about}}">About us</a></li>
        <li>History book <a href="{{staticdata.links.canonical_stem}}/authors/">authors</a></li>
        <li>Sitemap <a href="{{staticdata.links.canonical_stem}}/sitemap/">HTML</a> | <a href="{{staticdata.links.canonical_stem}}/sitemap.xml">XML</a></li>
        <li>RSS feed</li>
        <li>Tech <a href="{{staticdata.links.canonical_stem}}/techdebt/">acknowledgements</a></li>
        <li>Our <a href="{{staticdata.links.canonical_stem}}/privacy/">privacy policy</a></li>
        <li>Website image by <a href="https://commons.wikimedia.org/wiki/File:Mosaic_of_Justinianus_I_-_Basilica_San_Vitale_(Ravenna).jpg">Petar Milošević</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons</li>
      </ul>
        
        <a aria-label="Visit the facebook account of popular history books" class="margin-bothsides" href="{{ staticdata.links.facebook }}"><svg class="svg-icon svg-icon-fill-accent" height="36px" width="36px" viewbox="0 0 24 24"><use href="#fbook-icon"/></svg></a>
        <a aria-label="Visit the twitter account of popular history books" class="margin-bothsides" href="{{ staticdata.links.twitter }}"><svg class="svg-icon svg-icon-fill-accent" height="36px" width="36px" viewbox="0 0 24 24"><use href="#twitter-icon"/></svg></a>
        <a aria-label="Visit the instagram account of popular history books" class="margin-bothsides" href="{{ staticdata.links.instagram }}"><svg class="svg-icon svg-icon-fill-accent" height="36px" width="36px" viewbox="0 0 24 24"><use href="#instagram-icon"/></svg></a>

        
        
      </div>
      
      <div class="flex-row">
        <p6 class="footer-item">&copy; {% year %} PopularHistoryBooks.com
        </p6>

        <a class="footer-item" href="#my-body">To the top &#8593;
        </a>
      </div>
    </footer>