    <footer>

      <div class="footer-item">      
        <a class="margin-bothsides" href="{{ staticdata.links.facebook }}"><svg class="svg-icon" width="36" height="36" viewbox="0 0 24 24"><use href="#fbook-icon"/></svg></a>
        <a class="margin-bothsides" href="{{ staticdata.links.twitter }}"><svg class="svg-icon" width="36" height="36" viewbox="0 0 24 24"><use href="#twitter-icon"/></svg></a>
        <a class="margin-bothsides" href="{{ staticdata.links.instagram }}"><svg class="svg-icon" width="36" height="36" viewbox="0 0 24 24"><use href="#instagram-icon"/></svg></a>
      </div>
      
      <div class="flex-row">
        <p6 class="footer-item">&copy; {% year %} PopularHistoryBooks.com
        </p6>

        <a class="footer-item" href="#my-body">To the top &#8593;
        </a>
      </div>
    </footer>
