    <footer>

      <div class="footer-item">  

      <ul class="nobullet footer-item pad-bottom">
        <li>Frequently asked question? <a href="{{staticdata.links.faq}}">FAQ</a></li>   
        <li>Contact details in <a href="{{staticdata.links.about}}">about page</a></li>
        <li>History book <a href="/authors/">authors</a></li>
        <li>Sitemap <a href="/sitemap/">HTML</a> | <a href="/sitemap.xml">XML</a></li>
        <li>Tech <a href="/techdebt/">acknowledgements</a></li>
        <li>Our <a href="/privacy/">privacy policy</a></li>
        <li>Website image by <a href="https://commons.wikimedia.org/wiki/File:Mosaic_of_Justinianus_I_-_Basilica_San_Vitale_(Ravenna).jpg">Petar Milošević</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons</li>
      </ul>

{% include "sections/social_links.html" %}         

      </div>
      
      <div class="flex-row">
        <p6 class="footer-item">&copy; {% year %} PopularHistoryBooks.com
        </p6>

        <a class="footer-item" href="#my-body">To the top &#8593;
        </a>
      </div>
    </footer>