    <!-- Load google font of choice -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- borrowed optimal font loading strategy from here https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/ -->
    <link rel="preload"
          as="style"
          href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap" />
    </noscript>

{#    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> #}

    {# Now showing all icons as inline svg therefore don't need to load icons. Kept the link in case I want to reactivate for testing 
    <!-- Load google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"> #}