    <!-- To make sure site points to https secure address -->
    <script>
      if (location.protocol != 'https:') {
        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
      }
    </script>

    <!-- fixes a bug in the netlify cms identity system by making sure an account confirmation token is applied to the admin page of the website -->
    <script>
      if (window.location.hash.includes('_token=')) {
      window.location.replace('/admin' + window.location.hash)
    }
    </script>

{% if script_add %}
{% for item in script_add %}
<script src="/public/{{ item }}" defer></script>
{% endfor %}
{% endif %}