    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{ staticdata.links.canonical_stem }}{{ page.url }}" />
    <meta
      name="description"
      content="{{meta_excerpt}}"
    />
    <meta name="robots" content="noindex, nofollow" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ staticdata.links.canonical_stem }}{{ page.url }}" />
    <meta
      property="og:description"
      content="{{meta_excerpt}}"
    />
    <meta property="og:site_name" content="Popular history books">
    <meta
      property="og:image"
      content="{{image}}"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title:text" content="{{title}}" />
    <meta name="twitter:image" content="{{image}}" />
    <meta name="twitter:image:alt" content="Book cover">