{# ///// VERY SIMPLE SHOW COVERS MACRO ////////// #}
{% macro book_covers(input) %}

<div class="grid_book_small">

{% for item in input.books %}

{% set isbn = item[0] %}
{% set title = item[1] %}

  <div class="image_cover_container">
  <img loading='lazy' class='image_book_cover' src="https://res.cloudinary.com/ds2o5ecdw/image/upload/f_auto/acovers/{{ isbn }}.02._SCM_.jpg" alt="{{ title }}" title="{{ title }}">  
    
  </div>

{% endfor %}
  
</div>

{% endmacro %}



{# ///// POST TAG STICKER ONNER ///////////////// #}
{% macro post_icon(input) %}

{# associate icons with post tag types - may need to look at padding #}

{% if input.type=="review" %}
<img loading="lazy" class="grid_post_icon" src="{{staticdata.images.review_icon}}" alt="little review icon">{% endif %}
{% if input.type=="history books" %}
<img loading="lazy" class="grid_post_icon" src="{{staticdata.images.books_icon}}" alt="little books icon">{% endif %}
                           
{% endmacro %}



{# ///// SHOW BOOKS IN GRID WITH MODAL ZOOM ////////// #}
{% macro book_covers_all_api(input) %}

<div class="grid_book_small">

{% for item in input %}

{% set asin = item["ASIN (HB)"] %}
{% set title = item.Title %}
{% set author = item.Author %}
{% set publishdate = item["HB Publish date"] %}
{% set review = item["Review url"] %}
{%- set imgsmall = item["URL Cldnry img small"] | replace("upload/","upload/f_auto/") -%}
{%- set imglarge = item["URL Cldnry img large"] | replace("upload/","upload/f_auto/") -%}
{%- set classes = item["Create css filter classes"] -%}

<div class="fix-children {{classes}} hbk {% if loop.index > max_intial_books %}nodisplay{% endif %}">
<div class="image_cover_container">
  
<img loading='lazy' class='image_book_cover' src="{{ imgsmall }}" alt="{{ title }}" title="{{ title }}">

{# This extra div is necessary to get the overlay reviewed text lined up #}
<div class={%- if review | length -%}"image_cover_container_fit_reviewed"{% else %}"image_cover_container_fit"{% endif %}>
  
<div id="cover{{ asin }}" class='image_book_overlay open_modal_bookzoom {{classes}}'
      data-title="{{ title }}"
      data-author="{{ author }}"
      data-publishdate="{{ publishdate }}"
      data-cover_large="{{ imglarge }}" 
      data-amazon_uk_link="https://amazon.co.uk/dp/{{ asin }}" 
      data-amazon_us_link="https://amazon.com/dp/{{ asin }}"
      data-review="{{ review }}">

<div class="center_item">
<svg class="svg-icon-zoom" height="30px" width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">{% include "sections/svg/icon_zoom.html" %}</svg>
     
</div>

</div>  
</div>
</div>
    
</div>

{% endfor %}

</div>

<dialog class="modal_bookzoom">
<div class="pad-bottom-20 pad-top">
<button class="modal_close">&#10005;</button>
</div>
<div class="grid-2column">
    <div>
      <img class = "myModalImage" src="#" alt="cover image" width="326" height="500" style="background-color: #40383b">
      <p id="book_cat_display" class="color-white txt-center">book cover</p>
    </div>
    <div class="flex-column">
      <p class="myModalTitle pad-top-10 margin-top-10">[title]</p>
      <p class="myModalAuthor color-white ft-size-small">[by author]</p>
      <p class="myModalPublishdate color-white ft-size-small">[publish date]</p>
      <div class="flex1"></div>
      <div class="link-btn-bg bg-white myModal_review_btn">
        <a href="#"  target="_blank" class="myModalLink_review link-btn displayblock flex0"><svg class="svg-icon-btn" xmlns="http://www.w3.org/2000/svg" height="48px" width="48px" viewBox="0 0 48 48"  fill="#000000">{% include "sections/svg/icon_review.html" %}</svg>Our Review</a></div>
      <div class="link-btn-bg bg-white">
        <a href="#"  target="_blank" class="myModalLink_AmazonUK link-btn displayblock flex0"><svg class="svg-icon-btn" xmlns="http://www.w3.org/2000/svg" height="25px" width="25px" viewBox="0 0 24 24"  fill="#000000">{% include "sections/svg/icon_shoppingcart.html" %}</svg>Amazon UK</a></div>
      <div class="link-btn-bg bg-white">
        <a href="#" target="_blank" class="myModalLink_AmazonUS link-btn displayblock flex0"><svg class="svg-icon-btn" xmlns="http://www.w3.org/2000/svg" height="25px" width="25px" viewBox="0 0 24 24"  fill="#000000">{% include "sections/svg/icon_shoppingcart.html" %}</svg>Amazon US</a></div>
    </div>
  </div>

</dialog>
{% endmacro %}