      <div id="article-settings" class="flex-row">
        
        <button type="button" title="Share the link to this page" class="icon-button-lightbg share-link flex-outer">
        <span class="material-icons-outlined md-36">share</span>
        </button>
        
        <button type="button" id="btn-layers-article" title="Toggle layer scrolling effect" onclick="toggle_layer_scroll(id)" class="icon-button-lightbg">
        
          <span class="material-icons-outlined md-36">layers</span>
        </button>

        <button type="button" id="btn-txtsize-article" title="Cycle through normal, bigger and even-bigger text sizes" onclick="cycle_text_size(id)" class="icon-button-lightbg">

          <span class="material-icons-outlined md-36">format_size</span>
        </button>

        <button type="button" title="Cycle through normal, dark and byzantine colour modes" onclick="next_in_array(colorModes, 'my-body')" class="icon-button-lightbg">
        
          <span   class="material-icons-outlined md-36">palette</span>
        </button>      
      
      </div>