        <button type="button" title="Share the link to this page" class="icon-button-lightbg share-link flex-outer">
        <svg class="svg-icon svg-icon-small" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_share.html" %}</svg>
        </button>
        
        <button type="button" id="btn-layers-article" title="Toggle layer scrolling effect" onclick="toggle_layer_scroll(id)" class="icon-button-lightbg">        
        <svg class="svg-icon svg-icon-small" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_layers.html" %}</svg>
        </button>

        <button type="button" id="btn-txtsize-article" title="Cycle through normal, bigger and even-bigger text sizes" onclick="cycle_text_size(id)" class="icon-button-lightbg">
          <svg class="svg-icon svg-icon-small" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_textsize.html" %}</svg>
        </button>

        <button type="button" title="Cycle through normal, dark and byzantine colour modes" onclick="next_in_array(colorModes, 'my-body')" class="icon-button-lightbg">
          <svg class="svg-icon svg-icon-small" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="30px" width="30px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_palette.html" %}</svg>
        </button>
