<a class="no-line" aria-label="Visit the twitter account of popular history books" title="Visit the twitter account of popular history books" href="{{ staticdata.links.twitter }}">
  <svg class="svg-icon svg-icon-fill-accent" height="36px" width="36px" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">{% include "sections/svg/icon_twitter.html" %}</svg>
</a>
<a class="no-line" aria-label="Visit the instagram account of popular history books" title="Visit the instagram account of popular history books" href="{{ staticdata.links.instagram }}">
  <svg class="svg-icon svg-icon-fill-accent" height="36px" width="36px" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">{% include "sections/svg/icon_instagram.html" %}</svg>
</a>
<a class="no-line" aria-label="RSS feed link" title="RSS feed link" href="/feed.xml">
  <svg class="svg-icon svg-icon-fill-accent" height="36px" width="36px" viewbox="0 2 22 22" xmlns="http://www.w3.org/2000/svg">{% include "sections/svg/icon_rss.html" %}</svg>
</a>
<button type="button" title="Share the link to this page" class="icon-button-lightbg share-link">
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="36px" width="36px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_share.html" %}</svg>
</button> 