:root {
  
  /* TYPOGRAPHY VARIABLES */

  /* @link https://utopia.fyi/type/calculator?c=500,19,1.125,1140,21,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */  
  
  --step--2: clamp(0.8rem, 0.5rem + 0.7vw, 1.2rem); /*altered step -2*/
  --step--1: clamp(1.06rem, 1.11rem + -0.18vw, 0.98rem);
  --step-0: clamp(1.19rem, 1.09rem + 0.31vw, 1.31rem);
  --step-1: clamp(1.34rem, 1.01rem + 0.7vw, 1.75rem); /*altered step 1*/
  --step-2: clamp(1.50rem, 0.86rem + 1.5vw, 2.33rem); /*altered step 2*/
  --step-3: clamp(1.69rem, 0.58rem + 3.55vw, 3.11rem);
  --step-4: clamp(1.90rem, 0.15rem + 5.60vw, 4.14rem);
  --step-5: clamp(2.14rem, -0.50rem + 8.46vw, 5.52rem);
  --step-6: clamp(2.41rem, -1.46rem + 12.39vw, 7.36rem);

  --size-modifier: 1;
  --size-modifier-big: 1.15;
  --size-modifier-vbig: 1.4;
  --ftsize-transition: font 0.3s ease;

  --h1-size: var(--step-5);
  --h2-size: var(--step-3);
  --h3-size: var(--step-2);
  --h4-size: var(--step-1);
  --h5-size: var(--step-0);
  --h6-size: var(--step--2);
  --p-size: var(--step-0);
  --ul-size: var(--step-0);
  --bq-size-large: var(--step-1);
  --bq-size-normal: var(--step-0);
  --bq-size-small: var(--step--1);
  
  
  /* LAYOUT VARIABLES */
  --padding-edge: 20px;

  /* @link https://utopia.fyi/space/calculator?c=600,220,1.125,1500,340,1.25,6,2,&s=,,s-s 
  to responsively scale main COVER IMAGE SIZE from 240px width min to 300px width max */
  
  --fluid-min-width: 600;
  --fluid-max-width: 1700;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));  
    
  --fc-s-min: (var(--f-0-min, 240)); 
  --fc-s-max: (var(--f-0-max, 300));

  /* T-shirt sizes */
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  /* end of responsive size scaling */
  
  
  /* COLOUR VARIABLES */  
  --color-accent-lm: #E2184E; /* #EE92D5F #EA596E (pencil rubber) #E22658 (old) */
  --color-accent-lm-accessible: #BE1341;
  --color-accent-dm: #E92D5F; /* rgb(214,66,106); */
  --color-seethru-accent: rgba(226,38,88,0.6);
  --color-alt-accent: #66023C; /* #FFCC4D; */
  --color-1st: #000000;
  --color-2nd: #DBDBDB;
  --color-3rd: #FFFFFF;
  --color-white: #FFFFFF;
  --color-lightgrey: #757575;
  --color-offblack: #292929;
  --color-offwhite: #DADADA;
  --color-bg-dm: #393B3C;
  --color-text-dm: #CECECE;
  --color-headingtext-dm: rgb(207,207,207); 
  --color-seethrublack: #0000007A;
  --color-seethruwhite: #FFFFFF7F;
  --color-boxshadow-lm: rgba(0, 0, 0, 0.4);
  --color-boxshadow-dm: rgba(0,0,0,0.4);
  
  --color-transition: background 200ms ease, color 200ms ease;
  scroll-behavior: smooth;
}

@media (min-width: 700px) {                             
  :root {
    --padding-edge: 40px;
  }
}


/* TYPOGRAPHY CSS STYLING MODULE */


body {
  margin: 0;
  font-family: cabin, tahoma, sans-serif;
  background-color: var(--color-bg);
}

.light-mode {
  --color-accent: var(--color-accent-lm);
  --color-accent-accessible: var(--color-accent-lm-accessible);
  --color-bg: var(--color-white);
  --color-text: var(--color-1st);
  --color-article-text: var(--color-offblack);
  --color-heading-text: var(--color-1st);
  --color-summary-text: var(--color-1st);
  --color-header-text: var(--color-lightgrey);
  --color-summary-bg: var(--color-2nd);
  --color-article-border: var(--color-1st);
  --color-pill-bg: var(--color-accent-lm);
  --color-pill-text: var(--color-white);
  --color-pilltag-text: var(--color-accent);
  --color-boxshadow: var(--color-boxshadow-lm);
  --color-progressbar: linear-gradient(var(--color-seethrublack), var(--color-seethrublack));
  --color-icon: var(--color-lightgrey);
  --color-icon-hover: var(--color-offblack);
  --color-footer: var(--color-summary-bg);
  --color-footer-text: var(--color-header-text);
  --color-footer-border: var(--color-2nd);
  --color-menu-items-border: var(--color-2nd);
  --color-menu-hover: #F0F0F0;
  --color-menu-text: var(--color-footer-text);
  --color-grid-accent: var(--color-accent);
}

.dark-mode {
  --color-accent: var(--color-accent-dm);
  --color-accent-accessible: var(--color-accent-dm);
  --color-bg: var(--color-bg-dm);
  --color-text: var(--color-text-dm);
  --color-article-text: var(--color-text-dm);
  --color-heading-text: var(--color-headingtext-dm);
  --color-summary-text: var(--color-text-dm);
  --color-header-text: var(--color-text);
  --color-article-border: var(--color-1st);
  --color-summary-bg: var(--color-offblack);
  --color-progressbar: linear-gradient(var(--color-seethru-accent), var(--color-seethru-accent));
  --color-pill-bg: #484848;
  --color-pill-text: var(--color-text);
  --color-pilltag-text: var(--color-text);
  --color-boxshadow: var(--color-boxshadow-dm);
  --color-icon: var(--color-text-dm);
  --color-icon-hover: var(--color-white);
  --color-footer: var(--color-offblack);
  --color-footer-text: var(--color-header-text);
  --color-footer-border: var(--color-footer);
  --color-menu-border: var(--color-footer);
  --color-menu-hover: #313233;
  --color-menu-text: var(--color-text);
  --color-grid-accent: var(--color-accent);
}

.byzantine-mode {
  --color-accent: black;
  --color-accent-accessible: white;
  --color-bg: #FFA31F;
  --color-text: black;
  --color-article-text: black;
  --color-heading-text: black;
  --color-summary-text: white;
  --color-header-text: black;
  --color-summary-bg: black;
  --color-article-border: black;
  --color-progressbar: linear-gradient(#D95C15, #D95C15);
  --color-pill-bg: #D95C15;
  --color-pill-text: black;
  --color-pilltag-text: black;
  --color-boxshadow: var(--color-boxshadow-lm);
  --color-icon: black;
  --color-icon-hover: white;
  --color-footer: #D95C15;
  --color-footer-text: black;
  --color-footer-border: black;
  --color-menu-border: var(--color-footer);
  --color-menu-hover: #D95C15;
  --color-menu-text: black;
  --color-grid-accent: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1em 0 0.8em 0;
  padding: 0;
  color: var(--color-heading-text);
  transition: var(--color-transition);
}

h1 {
  font-size: var(--h1-size);
  transition: var(--ftsize-transition);
  letter-spacing: -1px;
  line-height: 1.1;
}

h2 {
  font-size: var(--h2-size);
  transition: var(--ftsize-transition);
  line-height: 1.15;
  letter-spacing: -1px;
}

h3 {
  font-size: var(--h3-size);
  transition: var(--ftsize-transition);
  line-height: 1.2;
  letter-spacing: -1px;
}

h4 {
  font-size: var(--h4-size);
  transition: var(--ftsize-transition);
  line-height: 1.3;
}

h5 {
  font-size: var(--h5-size);
  transition: var(--ftsize-transition);
  line-height: 1.3;
}

h6 {
  font-size: var(--h6-size);
  transition: var(--ftsize-transition);
  line-height: 1.4;
}

p {
  font-size: var(--p-size);
  transition: var(--ftsize-transition);
  line-height: 1.4;
  color: var(--color-text);
  transition: var(--color-transition);
}

ul {
  font-size: var(--ul-size);
  line-height: 1.6;
  color: var(--color-text);
  padding: 10px 0;
  margin: 10px var(--padding-edge);
}
.nobullet {
  margin: 0;
  list-style: none;
}
.toc_list li {
  margin: 10px 0;
}

ol {
  font-size: var(--ul-size);
  line-height: 1.6;
  color: var(--color-text);
  margin: 10px var(--padding-edge);
  padding: 10px 0;
}

a {color: var(--color-accent);}
a.pill_link {color: var(--color-pill-text);}
a:hover {color: white;background-color:var(--color-accent);}

blockquote {
  margin: 0.5em 0px 0.5em 10px;
  padding: 0.5em 10px 0.5em 15px;
  position: relative;
}
blockquote > p {font-size: var(--bq-size-large);}
blockquote > blockquote > p {font-size: var(--bq-size-normal);}
blockquote > blockquote > blockquote > p {font-size: var(--bq-size-small);}

blockquote::before {
  color: var(--color-accent);
  content: "\201C";
  font-size: 4em;
  line-height: 0;
  position: absolute;
  top: 0.7em;
  left: -0.25em;
} /* to stop end quotation overlapping text */
blockquote p:last-child {
  margin-right: 2em;
}
blockquote::after {
  color: var(--color-accent);
  content: "\201D";
  font-size: 4em;
  line-height: 0;
  position: absolute;
  bottom: 0.15em;
  right: 0.1em;
}

/* This section is for blockquotes within blockquotes (>> in markdown) */
blockquote > blockquote::before, blockquote > blockquote::after {
  content: none;
}
blockquote > blockquote {
  font-size: var(--bq-size-normal);
  font-style: italic;
  margin: 0;
  padding: 0;
}
/* This section is for blockquotes within blockquotes (>>> in markdown) which I am styling for possible use as citation */
blockquote > blockquote > blockquote::before, blockquote > blockquote > blockquote::after {
  content: none;
}
blockquote > blockquote > blockquote {
  font-size: var(--bq-size-small);
  font-style: italic;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-text);
  margin: calc(2 * var(--padding-edge)) var(--padding-edge) var(--padding-edge) 0;
}

.toc_list hr {margin-top:0;margin-bottom:0;}


/* for styling the twimojis images that are created from text emojis by the twitter script */
img.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 0.3em 0 0.1em;
  vertical-align: -0.1em;
}

/* for centering images in markdown - append #center to the image url */
img[src*='#center'] {
    display: block;
    margin: auto;
    max-width:100%;
    max-height: 450px;
}
.img-center {display:block;margin:auto;max-width:100%;}
.img-align {display:block;margin:auto;max-width:100%;padding:40px 0 0 0;}

/* END OF TYPOGRAPHY CSS STYLING MODULE */

/* LAYOUT CSS STYLING MODULE */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex-switch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex-outer {
  flex: 1;
  color:inherit;
  font-size: inherit;
  text-align: left;
}
.flex-primary {
  flex: 2;
  padding: 0 var(--padding-edge);
  align-items: start;
}
.flex-secondary {
  flex: 2;
  padding: 0 var(--padding-edge);
  display: flex;
  align-items: flex-end;
}
.flex-image {
  flex: 2;
  background-color: var(--color-bg);
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 30px 0 0 40px;
}
.grid-switch {
  display: grid;
  gap: 1em;
  margin: var(--padding-edge);
  background-color: var(--color-summary-bg);
  transition: var(--color-transition);
  border-radius: 10px;
}
.grid-container-left {
  justify-self: left;
  padding: 0 var(--padding-edge) var(--padding-edge) var(--padding-edge);
  max-width: 650px;
}
.grid-container-right {
  justify-self: center;
  padding: 0;
  max-width: 650px;
  min-height: 350px;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
  margin: auto;  
}
.circle {
  position: relative;
  border: 5px solid var(--color-accent);
  border-radius: 50%;
  background-color: var(--color-accent);
  margin: auto;
  height:50px;
  width:50px;
}
.circle:hover{border-color: var(--color-icon-hover);}
.fit-inside-circle {
  position: absolute;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
a:focus .fit-inside-circle {
  outline: 7px solid var(--color-text);
}

/* ------------------------------------
This sections contains styling for 
displaying a GRID OF SMALL BOOK COVERS
------------------------------------ */
.grid_book_small{
  display: grid;
  grid-template-columns: repeat(auto-fill, 88px);
  gap: 6px;
}
.image_book_cover {
  width:100%;
  box-shadow: 2px 2px 3px var(--color-boxshadow);
}
.image_book_overlay {
  position: absolute;
	z-index: 1;
	top: 0;
	background: rgba(0,0,0,0.7);
	color: #f1f1f1;
	width: 88px;
	min-height: 120px;
	transition: .3s ease;
	opacity: 0;
	color: white;
	font-size: 12px;
  padding: 5px;
	text-align: left;
}
.image_book_overlay:hover{
  opacity:1;
}
.emoji_text {
  font-size: 15px;
 	text-align: left;
	margin-bottom: 0;
	margin-left: 2px;
}
.image_miniflag {
  height: 1.3em;
  width: 1.3em;
  margin: 0 0.1em 0 0.1em;
  vertical-align: -0.1em;
}
.image_miniflag:hover {
	filter: grayscale(100%);
}
/* ------------------------------------
End of GRID OF SMALL BOOK COVERS
------------------------------------ */

/* ------------------------------------
This sections contains styling for 
displaying a GRID OF POSTS of different types
------------------------------------ */
.grid_posts {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(337px,1fr));
  gap: 2em;
  padding: 20px 0;
  margin: auto;
}
.grid_post_container {
  border-radius: 10px;
  overflow: hidden;
}
.grid_post_review {
  padding: 50px var(--padding-edge) 4em var(--padding-edge);
  background-color: var(--color-summary-bg);
  transition: var(--color-transition);
  border: 3px solid var(--color-summary-bg);
}
.grid_post_other {
  padding: 10px var(--padding-edge) 4em var(--padding-edge);
  background-color: var(--color-bg);
  transition: var(--color-transition);
  border: 3px solid var(--color-summary-bg);
}
.grid_post_taglist {
  padding: 0 20px;
  background-color: var(--color-summary-bg);
  border: 3px solid var(--color-summary-bg);
}
.grid_post_taglist_review {
  min-height: 180px;
  padding-right: 110px;
}
.grid_post_bookimage {
  position: absolute;
  top:15px;
  right:15px;
  transform: rotate(3deg);
  width: 88px;
  box-shadow: 2px 2px 3px var(--color-boxshadow);
}
.grid_post_icon {
  width: 36px;  
  position: absolute;
  top:20px;
  left:var(--padding-edge);
}
.grid_post_title {
  padding-right: 90px;
}
.main_link {color: var(--summary-text)!important;}
.main_link:hover {background-color:transparent;}
.main_link::before {
  content: " ";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}
.grid_post_latest {
  border: 3px solid var(--color-pill-bg);  
}
.grid_post_container:hover {
  border: 3px solid var(--color-grid-accent);
  box-shadow: 4px 4px 6px var(--color-boxshadow);
}
.undecorate_link > a {
  color: var(--color-text);
  text-decoration: none;
}
.grid_post_tagpill_position_bottom {
  position: absolute;
  bottom: 10px;
  left: var(--padding-edge)
}
.grid_post_latest::before {
  background-color: var(--color-pill-bg);
  content: "Latest Post";
  font-size: 0.9rem;
  transform: rotate(-25deg) translate(0, 0);
  bottom: 15px;
  right: -30px;
  width: 200px;
  color:var(--color-pill-text);
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border-radius: 0 0 0 0;
  border: 1px solid var(--color-pill-bg);
  position: absolute;
  text-align: center;
}
.peek-out {
  will-change: transform;
  right: 30px;
  transform: translateY(-10%);
  transition: transform 450ms ease-in-out;
  width: 180px;
  height: auto;
}
.peek-out:hover {
  transform: translateY(-75%);
}
.tooltip-peek {
  will-change: transform, opacity;
  right: 210px;
  height: auto;
  transform: translateY(50px);
  transition: opacity 300ms ease-in-out 150ms, transform 400ms ease-in-out 150ms;
  width: 150px;
  background-color: var(--color-summary-bg);
  color: var(--color-summary-text);
  text-align: center;
  padding: 2px 5px;
  border: 3px solid var(--color-summary-text);
  border-radius: 6px;
  opacity: 0;
}
.tooltip-peek::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 145px;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-summary-text);
}
.tooltip-peek::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 144px;
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-summary-bg);
}
.peek-out:hover + .tooltip-peek {
  transform: translateY(-90px);
  opacity: 1;
}
/* ------------------------------------
End of GRID OF POSTS
------------------------------------ */

.heading_title {
  padding: 0 var(--padding-edge);
  text-align: left;
}
.heading_title > h1 {
  margin-top: 0.5em;
}
.heading_section {
  padding: 10px 0 80px 0;
  background-color: var(--color-bg);
  transition: var(--color-transition);
  color: var(--color-heading-text);
  position: relative; /* needed to position "godown" arrow */
}
.container {
  padding: 0 var(--padding-edge) 20px var(--padding-edge);
  margin: auto;
  max-width: 650px;
}

@media screen and (min-width: 700px)  {
  .flex-switch {
    flex-direction: row;
  }
  .grid-switch {
    grid-auto-flow: column;
    grid-auto-columns: 2fr 3fr;
  }
  .grid-container-right {
    justify-self: right;
    padding: 0 0 var(--padding-edge) var(--padding-edge);}
  .heading_title {text-align: center;}
  .grid_book_small{
  gap: 10px;
}
}

#godown {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  z-index:4;
  color: var(--color-accent);
}
.summary_section {
  background-color: var(--color-summary-bg);
  padding: 40px 0 20px 0;
}

#goto-details {
  position: absolute;
  left: 50%;
  bottom: -8px;
  transition: all 0.3s ease;
  transform: translate(-50%, 50%);
  color: var(--color-accent);
}

.absolute-right {
  position: absolute;
  right: var(--padding-edge);
  top: -20px;
  transform: translate(0%, -100%);
}

header {
  background-color: var(--color-bg);
  padding: 10px 20px;
  font-size: var(--step--1); 
  color: var(--color-header-text);
  position: relative;
}

.skip-nav-link {
  position: absolute;
  transform: translate(-50%, -120%);
  left: 50%;
  transition: transform 325ms ease-in;
  z-index:1;
  background:var(--color-summary-bg);
  color:var(--color-summary-text);
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 0 0 10px 10px;
  border: 3px solid var(--color-accent);
  box-shadow: 4px 4px 6px var(--color-boxshadow);
}
.skip-nav-link:focus {
  transform: translate(-50%, -3px);
}

footer {
  background-color: var(--color-footer);
  padding: 20px 20px 10px 20px;
  font-size: var(--step--1); 
  color: var(--color-footer-text);
  border-top: 2px solid var(--color-footer-border);
  z-index: 1;
}
.footer-item {
  font-size: inherit;
  color: inherit;
  padding: 10px 0;
  color: var(--color-footer-text);
}

#book-title {
  margin: 20px 0 0 0;
}
#book-info-text {
  margin: 40px 0 20px 0;
}


.collapser {
  padding: 0; /*can't have padding directly on this element otherwise doesn't get totally hidden when height set to zero */
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: var(--color-transition);
  transition: max-height 0.7s ease;
}

.top_menu {
  text-align: left;
  padding: 0;
  margin: 0;
}
.top_menu.uncollapsed {
  max-height: 450px;
}
.top_menu li {
  border-bottom: 1px solid var(--color-header-text);  
}
.top_menu li:first-child {
  border-top: 1px solid var(--color-header-text);
}
.top_menu li:last-child {
  border-bottom: none;
}
.top_menu a {
    display: block;
    padding: 0.5rem;
    line-height: 2; 
    color: var(--color-menu-text);
    text-decoration: none;
    width: 100%;
}
.top_menu a:hover {
  background-color: var(--color-menu-hover);
}

.book_main_image {
  max-width: var(--space-s);
  min-height: 350px;
  box-shadow: 6px 6px 8px var(--color-boxshadow);
  transform: rotate(3deg);
  transition: transform 0.3s ease;
  z-index: 2;
}

.summary_text p, .summary_text h3, .summary_text h4 {
  color: var(--color-summary-text);
  transition: var(--color-transition);
}

#progress-bar {
  --scroll-amount: 0%;
  background-image: var(--color-progressbar);
  width: var(--scroll-amount);
  height: 5px;
  position: sticky;
  top:0;
  z-index: 1;
}

#main-article {
  padding: 0 var(--padding-edge) var(--padding-edge) var(--padding-edge);
  margin: auto;
  max-width: 650px; /* setting a max width here allows headers to stretch further out to the right compared to p text */
}

#main-article > p {
  color: var(--color-article-text);
  transition: var(--color-transition);
  max-width: 40ch; /* max p text width of 40 characters */
  font-size: calc( var(--p-size) * var(--size-modifier) );
  transition: var(--ftsize-transition);
}

#main-article > h4 { font-size: calc( var(--h4-size) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > h3 { font-size: calc( var(--h3-size) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > h2 { font-size: calc( var(--h2-size) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > h1 { font-size: calc( var(--h1-size) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > h5 { font-size: calc( var(--h5-size) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > h6 { font-size: calc( var(--h6-size) * var(--size-modifier) );
transition: var(--ftsize-transition);
font-weight:400;}
#main-article > blockquote, #main-article > blockquote > p { font-size: calc( var(--bq-size-large) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > blockquote > blockquote, #main-article > blockquote > blockquote > p { font-size: calc( var(--bq-size-normal) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > blockquote > blockquote > blockquote, #main-article > blockquote >  blockquote > blockquote > p { font-size: calc( var(--bq-size-small) * var(--size-modifier) );
transition: var(--ftsize-transition);}
#main-article > ol, #main-article > ul {font-size: calc( var(--ul-size) * var(--size-modifier) );transition: var(--ftsize-transition);padding-left:20px;}


.stickunder {  
  position: sticky; 
  top: 0; /* note this is zero because preceding element has position: relative */
  z-index: 0;/* if z index value less than 0 seems to prevent clicking on elements contained within although 0 seems ok...*/
}


#progress-section {
  position: relative;
  z-index: 1;
}

.scrollover_format {
  background-color: var(--color-bg);
  transition: var(--color-transition);
  border-top: 5px solid var(--color-article-border);  
}

#book-details-section {
  padding: 150px 0 0 0;
}
#book-details-section li {
  padding: 10px 0;
  font-size: var(--step--1);
}

/* END OF LAYOUT CSS STYLING MODULE */

/* CSS AESTHETICS STYLING MODULE */

.datapill {
  background-color: var(--color-pill-bg);
  transition: var(--color-transition);
  font-family: consolas,  monospace;
  font-size: var(--step--2);
  color: var(--color-pill-text);
  padding: 6px 10px;
  margin: 10px 5px;
  border: none;
  width: max-content;
  box-shadow: 6px 6px 8px var(--color-boxshadow);
  max-width: 380px
}
@media (min-width: 700px) {.datapill {max-width:700px}}

.tag-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  right: -25%;
  bottom: -20px;
}
.tag:nth-child(even) {
  transform: rotate(2deg);
}
.tag:nth-child(odd) {
  transform: rotate(-1deg);
}

.tagpill{
/*  background-color: var(--color-bg); */
  transition: var(--color-transition);
  font-size: var(--step--2);
  color: var(--color-pilltag-text);
  border: 1.5px solid var(--color-pilltag-text);
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 0.2em .5em;
  line-height: 2em;
  height: 2em;
  border-radius: .25em;
  text-decoration: none;
  margin: 0 .5em .5em 0;
}
.grid_post_review .tagpill {
  color: var(--color-accent-accessible);  
  border: 1.5px solid var(--color-accent-accessible);
} 
.tagpill:hover, .tagpill_selected {
  background-color: var(--color-pill-bg);
  color: var(--color-pill-text);
  border: 1.5px solid var(--color-pill-text);
}
.tagbar{
  padding: 0 var(--padding-edge) 0 var(--padding-edge);
  margin: auto;
  margin-bottom: 0;
  max-width: 650px;
}


.icon-button-lightbg {
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--color-icon);
  transition: var(--color-transition);
}

.social-links-row {
  display: flex;
  flex-direction: row;
}
.social-links-row > a {
  max-width: 36px;
  margin: 0 6px;
  padding: 0;
  line-height: 1;
}
.svg-icon {
  fill: var(--color-icon);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  transition: all 0.1s ease;
  margin: 0 0.2em 0 0;
  vertical-align: -0.5em;
}
.svg-icon-accent {fill: var(--color-accent);}
.svg-icon-border {border: 3px solid var(--color-accent);}
.svg-icon-large {height: 72px;width: 72px;}
.svg-icon:hover {fill: var(--color-icon-hover);}
.svg-icon-small {height: 30px;width: 30px;}
.svg-icon-fill-accent {
  fill: var(--color-bg);
  background: var(--color-accent);
  border: 4px solid var(--color-accent);
}
.svg-icon-fill-accent:hover {
  fill: var(--color-menu-hover);
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  transition: all 0.2s ease;
}

@media (hover: hover) { /* disables hover effect on mobiles */
  .icon-button-lightbg:hover {
    color: var(--color-icon-hover);
    cursor: pointer;
  }
  #btn-moreinfo {cursor: pointer;}
}

#article-settings {
  text-align: right;
  padding: var(--padding-edge) var(--padding-edge) 0 var(--padding-edge);
}


/* UTILITY CSS */

.fw-normal {font-weight:400;}
.fw-bold {font-weight:700;}
.txt-center {text-align:center;}
.txt-left {text-align:left;}
.txt-right {text-align:right;}
.txt-capital {text-transform: uppercase;}
.txt-summary-color {color: var(--color-summary-text);}
.color-accent {color: var(--color-accent);}
.color-accent-fill{fill: var(--color-icon-hover);}
.ft-size-verysmall {font-size: var(--step--2);}
.ft-size-small {font-size: var(--step--1);}
.ft-size-normal {font-size: var(--step-0);}
.ft-size-large {font-size: var(--step-1);}
.ft-size-vlarge {font-size: var(--step-3);}
.pad-bottom {padding-bottom: 50px;}
.pad-bottom-20 {padding-bottom: 20px;}
.pad-top {padding-top: 50px;}
.pad-top-10 {padding-top: 10px;}
.pad-top-20 {padding-top: 25px;}
.pad-left {padding-left: var(--padding-edge);}
.pad-none{padding:0;}
.margin-right50{margin-right:50px;}
.margin-left50{margin-left:50px;}
.max-width-1520 {max-width:1520px;margin:auto;}
.max-width-1300 {max-width:1300px;margin:auto;}
.inline {display: inline;}
.no-line{text-decoration:none;}
.no-line:hover {background-color:transparent;}
.fix-children{position: relative;}
.absolute{position: absolute;}
.ztop{z-index: 1;border-top: none;}
.fit-content{width: max-content;}
.flex0{flex:0;}
.flex1{flex:1;}
.flex2{flex:2;}
.margin-bothsides{margin: 0 6px;}
.go-right{display: block;margin-left: auto;}
.go-middle{display: block;margin-inline: auto;}
.shadow{box-shadow: 2px 2px 3px var(--color-boxshadow);}
.rotate-plus3{transform: rotate(3deg);}
.rotate-minus3{transform: rotate(-3deg);}
.width150{width:150px;}