<!DOCTYPE html>
<html lang="en">
  <head>
  
    {% include "sections/head_generic.html" %}

    <title>{{ title }}</title>

    {% include "sections/head_scripts.html" %}  
    
    <link rel="stylesheet" type="text/css" href="/public/style.css" />

    {% include "sections/head_social_meta.html" %}

    {% include "sections/head_user_fonts.html" %}
    
    <!-- Import the webpage's javascript file -->
    <script src="/public/script.js" defer></script>

  </head>
  <body id="my-body" class="light-mode">

    <a class="skip-nav-link" href="#main-content">Skip to content</a>
  
      {% include "sections/header.html" %}
    
    <main id="main-content">
      {{content | safe}}
    </main>

      {% include "sections/footer.html" %}

  

  </body>

</html>