---
layout: layouts/base.njk

eleventyComputed:
  meta_excerpt: "Our review of {{ review_book_main_title }}{% if review_book_sub_title %}: {{ review_book_sub_title }}{% endif %}, by {{review_book_author}}, first published in {{review_publication_date | myDateString }}."
  image: "{{review_book_image_url}}"
  review_book_info_snippet: "{{review_book_author}}, {{review_publication_date | myDateString }}, {{review_publisher}}, {{review_pages}} pages"
  book_author_1stletter: "{{review_book_author_surname | truncate(1,false,'')}}"
---

    <section class="flex-switch heading_section">

      <div class="flex-primary">

  {% include "sections/tags_in_post.html" %}


          <h1 id="book-title">{{ review_book_main_title }}</h1>

          <h4 aria-level="2">{{ review_book_sub_title}}</h4>

          <p id="book-info-text" class="ft-size-small">{{ review_book_info_snippet }}</p>

          <p class="fw-normal ft-size-small fix-children fit-content">--Links and info--<a id="goto-details" href="#book-details-title" aria-label="Go to the details section at the bottom of the page"><svg class="svg-icon svg-icon-accent" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 0 24 24"  fill="#000000">{% include "sections/svg/icon_downarrow.html" %}</svg></a></p>

          <a id="godown" href="#under_section" aria-label="Go to the review summary section">   
            <svg class="svg-icon svg-icon-large svg-icon-accent" xmlns="http://www.w3.org/2000/svg" height="72px" width="72px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_downarrow.html" %}</svg>
          </a>

      </div>
      
      <div class="flex-image">
        
          <div class="fix-children">
            
            <img class="book_main_image" alt="Front cover of the book" src="{{review_book_image_url | replace("upload/","upload/f_auto/") }}">

            <div class="tag-group">


              {% for item in review_book_tags %}
              {% if item|length %}
              
                {% set comma = joiner() %}
                  <p class="datapill tag">
                  {% if loop.index==2 %}{% set shrink = "true" %}{% else %}{% set shrink="false" %}{% endif %}
                  {% for thing in item -%}
                    {% if shrink=="true" and loop.index > 1 and loop.index ==2 and loop.index < loop.length %} to...{% elif shrink=="true" and loop.index > 1 and loop.index < loop.length %}{% else %}{{ comma() }} {{thing}}{% endif %}
                  {%- endfor %}</p>

              {% endif %}
              {% endfor %}

            </div>

          </div>

      </div>

    </section>
    


       
      <section id="under_section" class="summary_section flex-switch stickunder">

        <div class="flex-primary summary_text">
          {{ review_summary | safe }}          
          <h3 class="fw-normal pad-bottom">{{ review_rating }}
          </h3>
        </div>
        
        <div class="flex-secondary">
          <p class="datapill tag">Review by <a class="pill_link" href="{{ staticdata.links.about }}#{{ post_author | replace(" ", "_")}}">{{ post_author }}</a>, {{date | htmlDateString}}</p>
        </div>
        
       </section> 

    <section id="progress-section" class="scrollover_format">
      <div id="progress-bar"></div>

      <div id="article-settings" class="flex-row"> 
        {% include "sections/read_settings.html" %}  
      </div>

      <article id="main-article">

    {{ content | safe }}

    <hr>
        
    {% include "sections/tags_in_post.html" %}         
        
    <section id="book-details-section">

      <h4 id="book-details-title" class="inline">Book details </h4><a href="#my-body">(back to top)</a>

      <ul class="nobullet">
        
        <li>Title - <p class="inline">{{review_book_main_title}}
{{": " if review_book_sub_title}}{{review_book_sub_title}}
        </p></li>
        <li>Author - <p class="inline">{{review_book_author}}</p></li>
        <li>Publication date - <p class="inline">{{ review_publication_date | myDateString }}</p></li>
        <li>Publisher - <p class="inline">{{review_publisher}}</p></li>
        <li>Pages - <p class="inline">{{review_pages}}</p></li>
        <li>ISBN 13 - <p class="inline">{{review_ISBN13}}</p></li>
        
        {% for item in review_podcasts %}
        {% if item|length %}
           
        <li><svg class="svg-icon svg-icon-small" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="30px" width="30px" viewBox="0 0 24 24" fill="#000000">{% include "sections/svg/icon_podcasts.html" %}</svg>Podcast episode - <p class="inline"><a href='{{ item[0] }}'target='_blank'>{{item[1]}}: {{item[2]}}</a></p></li>
        
        {% endif %}
        {% endfor %}

        {% for item in shopping_links %}  

        <li><svg class="svg-icon svg-icon-small" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 0 24 24"  fill="#000000">{% include "sections/svg/icon_shoppingcart.html" %}</svg>{{ item[1] }} - <p class="inline"><a href='{{ item[0]  }}'target='_blank'>{{ item[2] }}</a></p></li>

        {% endfor %}

      </ul>   
      
    </section>
    </article>
        
    </section> <!--scrollover end - everthing needs to go in here or have positive z index and bg color set manually -->