---
layout: layouts/base.njk
templateClass: tmpl-home
script_add: [script_quotes.js]
pagination:
  data: collections.post
  size: 12
  reverse: true
  alias: myposts
---

{% if pagination.pageNumber==0 %}

<h1 class="heading_title">{{title_content}}</h1>

<div class="container max-width-1350">
    {{ content | safe }}
    </div>
{% endif %}

{% if pagination.pageNumber!=0 %}
{% include "sections/pagination_pages.html" %}
{% endif %}

<div class="container max-width-1520">

{% if pagination.pageNumber==0 %}      
    <div class="fix-children">
        
        <img class="peek-out absolute" src="https://res.cloudinary.com/ds2o5ecdw/image/upload/w_200,f_auto/v1646946826/pophist_static/Justinian_transparent.png" alt="Byzantine Emperor Justinian">
 
        <div class="tooltip-peek absolute">
         I, Emperor Justinian, welcome you to this website. Ciao!{# On this day in history... I had a bath. Come on the Greens!Friends, Romans, countrymen, lend me your eyes.On this day in history... I brushed my teeth#}
        </div>

    </div>  
{% endif %}
      
    <div class="grid_posts fix-children">
      
      {% for post in myposts %}

      {% set content_excerpt = post.templateContent | excerpt %}
      {% set content_excerpt_quote = post.templateContent | excerpt_quote %}
      {% set loopnumber = loop.index %}
      {%- from "sections/macros_cards.njk" import post_card with context -%}
{{ post_card( post.data.tags[1], post.data.title, collections.posts[0].data.title, post.data.review_book_image_small_url, post.url, post.data.date, post.data.review_rating, post.data.review_publication_date, content_excerpt, content_excerpt_quote, post.data.quotelink, post.data.quoteref, post.data.newbooks, post.data.tags, loopnumber ) }}
{# not sure why the with context option isn't working so need to pass in all variables...#}
      
     {%- endfor -%}
     </div>

{% include "sections/pagination_pages.html" %}   
    
  </div>




