---
layout: layouts/base.njk
templateClass: tmpl-home
pagination:
  data: collections.post
  size: 9
  reverse: true
  alias: myposts
---

<h1 class="heading_title">{{title_content}}</h1>

  <div class="heading_section">
    
    <div class="container max-width-1350">
    {{ content | safe }}
    </div>
 
    <div class="container max-width-1520">
      
    <div class="grid_posts fix-children">
      
 
        
        <img class="peek-out absolute" src="https://res.cloudinary.com/ds2o5ecdw/image/upload/w_200/v1646946826/pophist_static/Justinian_transparent.png" alt="Byzantine Emperor Justinian">
 
        <div class="tooltip-peek absolute">
          I, Emperor Justinian, welcome you to this website. Ciao!
        </div>

        
      {% for post in myposts %}

      <div class="fix-children grid_post_container {% if post.data.tags[1]=="review" %}grid_post_review{% else %}grid_post_other{% endif %}">
        {%- from "sections/macros.njk" import post_icon with context -%}
        {{ post_icon({type:post.data.tags[1] | lower}) }}

        <h4 aria-level="2" class="undecorate_link {% if post.data.tags[1]=="review" %} grid_post_title{% endif %}"><a class="main_link" href="{{post.url}}">{{ post.data.title }}</a></h4>

        {% if post.data.tags[1]=="review" %}
        <img loading="lazy" class="grid_post_bookimage" src="{{post.data.review_book_image_small_url}}" alt="Book cover for {{post.data.review_book_main_title}}">        
        {% endif %}
        
        <p class="ft-size-small"><i>Posted on</i>: {{post.data.date | htmlDateString }}</p>
        
        <p class="ft-size-small">{{ post.templateContent | excerpt }}</p>
        
        {% if post.data.tags[1]=="review" %}<p class="ft-size-small">{{post.data.review_rating}} ({{ post.data.review_publication_date | myDateYear }})</p>{% endif %}
        
        <p class="fw-normal grid_post_tagpill_position_bottom">
          {% for tag in post.data.tags %}
            {%- if tag != "post" -%}
              <span class="tagpill">{{ tag }}</span>
            {%- endif -%}
          {% endfor %}
        </p>
        
          </div>
                                                                                  
      {%- endfor -%}
    </div>

<p class="txt-center">{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a> | {% endif %}

Page {% for items in pagination.pages %}
{% if page.url == pagination.hrefs[ loop.index0 ] %}{{loop.index}}{% endif %}
{% endfor %}
of {{ pagination.pages | length }}
      
{% if pagination.href.next %} | <a href="{{ pagination.href.next }}">Next</a>{% endif %}</p>    
    
  </div>




