---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The faq page uses this template and you can customize / use it for any new pages you add #}

<h1 class="heading_title">{{title_content}}</h1>

  <div class="heading_section">
    <div class="container">
      {{ content | safe }}
  </div>
</div>
