---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for individual blog posts–it builds the front matter properties into the page #}

<div class="heading_title">
  
  <h1>{{title}}</h1>
  
  <p>by <a href="{{ staticdata.links.canonical_stem }}/about/#{{ post_author | replace(" ", "_")}}">{{ post_author }}</a>, {{date | htmlDateString}}</p> 
  
</div>

<section id="progress-section">
  
    <div id="progress-bar"></div>
  
      <article id="main-article" class="fix-children">

       
        
      <div class="txt-right">
        {% include "sections/read_settings_nolayer.html" %}
      </div>

        
        
        {{ content | safe }}

        <hr>
        
      <div>
      {# The previous and next post data is added in .eleventy.js #}
      {% if prevPost.url %}
        <p>
          <strong>Previous post</strong>: 
          <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
        </p>
      {% endif %}
      {% if nextPost.url %}
        <p>
          <strong>Next post</strong>: 
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </p>
      {% endif %}
      </div>
        
      </article>


</section>