---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for individual blog posts–it builds the front matter properties into the page #}

<div class="tagbar">
  
{% include "sections/tags_in_post.html" %}

</div>


  
<div class="heading_title">
  
  <h1>{{title | addNbsp | safe }}</h1>
  
  <p>by <a href="{{ staticdata.links.canonical_stem }}/about/#{{ post_author | replace(" ", "_")}}">{{ post_author }}</a>, {{date | htmlDateString}}</p> 
  
</div>

<section id="progress-section">
  
    <div id="progress-bar"></div>
  
      <article id="main-article" class="fix-children">

       
        
      <div class="txt-right">
        {% include "sections/read_settings_nolayer.html" %}
      </div>
       
        
        {{ content | safe }}

{% include "sections/tags_in_post.html" %}        
        
        <hr>
        
{% include "sections/next_previous_post.html" %}
        
      </article>


</section>