---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Popular history book reviews",
    "subtitle": "A blog reading and reviewing popular history books. We review great (hopefully!) new (probably...) history (certainly 🙂) books.",
    "url": "https://popularhistorybooks.com/",
    "feedUrl": "https://popularhistorybooks.com/feed.xml",
    "author": {
      "name": "Anthony",
      "email": "popularhistorybooks@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <icon>{{ staticdata.images.header_icon_square }}</icon>
  <logo>{{ staticdata.images.header_icon_square }}</logo>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <author>
      <name>{{ post.data.post_author }}</name>
    </author>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {% set book_image %}<p><img src="{{post.data.image}}" alt="image" /></p> {% if post.data.tags[1]=="review" %}<p>{{post.data.meta_excerpt}}</p> <p><strong>{{post.data.review_summary | safe}}</strong></p> <p>{{post.data.review_rating}}</p> {% endif %}{% endset %}<content type="html">{{ book_image | htmlToAbsoluteUrls(absolutePostUrl) }}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>